
.soda-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .left,
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .center {
    padding-top: 20px;
    line-height: 250%;
   background-color: rgb(174, 168, 168);
   color: #dddd;
    width: 200px;
    height: 200px;
    flex: 2;
    text-align: center;
  }
  .link{
    text-decoration: none;
    color:#dddd;
    font-weight: 700;
    font-size: 30px;
  }